/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
  Default: 400
  Bold: 700

- Line heights
  Default: 1
  small: 1.05
  paragraph: 1.6

- Letter spacing
	letter-spacing: -0.5px;
	letter-spacing: 0.75px;
	letter-spacing: 1.2px;

--- 02 COLORS

- Primary: #7b5244
- Tints: #e5dcda

- Shades: 
- Accents:
- Greys
- icon rating: #ffb700, #cdcdcd


--- 05 SHADOWS


--- 06 BORDER-RADIUS


--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-color: #7b5244;
  --secondary-color: #7b5244;
}

/* ********************************* */
/* REUSABLE COMPONENTS */
/* ********************************* */

.container {
  width: 160rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 6.4rem;
}

.heading-secondary {
  font-size: 3.6rem;
  text-align: center;

}

.grid {
  display: grid
}

.grid-1-cols {
  grid-template-columns: 1fr;
}

.grid-6-cols {
  grid-template-columns: repeat(6, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.lg-menu {
  min-width: 55rem;
  padding: 2.4rem 8rem 3.2rem 1.6rem;
}

.sm-menu {
  min-width: 15rem;
  padding: 1.6rem;
}

.btn {
  position: absolute;
  border: none;
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}