/* ********************************* */
/* HEADER */
/* ********************************* */

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.navbar,
.nav-user {
  font-size: 1.4rem;
  list-style: none;
  color: #333;
  display: flex;
  gap: 3rem;
}

.navbar a:link,
.navbar a:visited {
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.nav-user:last-child i {
  position: relative;
}

.shop-bag i::after {
  content: "0";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  background-color: var(--main-color);
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  /* text-align: center; */
  border-radius: 50%;
  top: 6px;
  left: 16px;
}

.shop-bag span {
  margin-left: 1.4rem;
}